.biin_logo {
    max-width: 70px !important;
    max-height: 70px !important;
}

.main_header_image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.d-flex{
    display: flex !important;
}

.align-items-center{
    align-items: center !important;
}

.justify-center{
    justify-content: center !important;
}
